In [2]:
!pip install dash

Requirement already satisfied: dash in c:\users\aseks\anaconda3\lib\site-packages (2.17.1)
Requirement already satisfied: Flask<3.1,>=1.0.4 in c:\users\aseks\anaconda3\lib\site-packages (from dash) (3.0.3)
Requirement already satisfied: Werkzeug<3.1 in c:\users\aseks\anaconda3\lib\site-packages (from dash) (3.0.3)
Requirement already satisfied: plotly>=5.0.0 in c:\users\aseks\anaconda3\lib\site-packages (from dash) (5.22.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\aseks\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\aseks\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\aseks\anaconda3\lib\site-packages (from dash) (5.0.0)
Requirement already satisfied: importlib-metadata in c:\users\aseks\anaconda3\lib\site-packages (from dash) (7.0.1)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\aseks\anaconda3\lib\site-packages (from dash) (4.11.0)
Requirement already satisfied: requests in c:\users\aseks\anaconda3\lib\site-packages (from dash) (2.32.2)
Requirement already satisfied: retrying in c:\users\aseks\anaconda3\lib\site-packages (from dash) (1.3.4)
Requirement already satisfied: nest-asyncio in c:\users\aseks\anaconda3\lib\site-packages (from dash) (1.6.0)
Requirement already satisfied: setuptools in c:\users\aseks\anaconda3\lib\site-packages (from dash) (69.5.1)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\aseks\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\aseks\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\aseks\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\aseks\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (1.6.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\aseks\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (8.2.2)
Requirement already satisfied: packaging in c:\users\aseks\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (23.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\aseks\anaconda3\lib\site-packages (from Werkzeug<3.1->dash) (2.1.3)
Requirement already satisfied: zipp>=0.5 in c:\users\aseks\anaconda3\lib\site-packages (from importlib-metadata->dash) (3.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aseks\anaconda3\lib\site-packages (from requests->dash) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aseks\anaconda3\lib\site-packages (from requests->dash) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aseks\anaconda3\lib\site-packages (from requests->dash) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aseks\anaconda3\lib\site-packages (from requests->dash) (2024.7.4)
Requirement already satisfied: six>=1.7.0 in c:\users\aseks\anaconda3\lib\site-packages (from retrying->dash) (1.16.0)
Requirement already satisfied: colorama in c:\users\aseks\anaconda3\lib\site-packages (from click>=8.1.3->Flask<3.1,>=1.0.4->dash) (0.4.6)

In [2]:
import pandas as pd
import numpy as np
import dash
from dash import dcc, html
from dash.dependencies import Input, Output  # Fixed typo here
import plotly.express as px
import matplotlib.pyplot as plt  # Corrected the matplotlib import

In [4]:
df_2023=pd.read_csv("C:\\Users\\aseks\\Downloads\\archive\\Binance_BTCUSDT_2023_minute.csv")

In [6]:
df_2024=pd.read_csv("C:\\Users\\aseks\\Downloads\\Binance_BTCUSDT_2024_minute.csv")

In [8]:
df_2023.head(4)

,unix,date,symbol,open,high,low,close,volume,volume_from,tradecount
0,1704067140000,2023-12-31 23:59:00,BTCUSDT,42281.10,42283.59,42258.94,42283.58,38.92904,1.645609e+06,821
1,1704067080000,2023-12-31 23:58:00,BTCUSDT,42276.64,42281.10,42276.64,42281.10,8.38641,3.545770e+05,422
2,1704067020000,2023-12-31 23:57:00,BTCUSDT,42240.92,42276.65,42240.92,42276.65,9.58764,4.051945e+05,604
3,1704066960000,2023-12-31 23:56:00,BTCUSDT,42230.47,42240.93,42222.10,42240.93,8.28076,3.496840e+05,499

In [10]:
df_2024.head()

,Unix,Date,Symbol,Open,High,Low,Close,Volume BTC,Volume USDT,tradecount
0,1722383940000,2024-07-30 23:59:00,BTCUSDT,66196.00,66196.00,66188.0,66188.00,1.15863,76691.239749,201
1,1722383880000,2024-07-30 23:58:00,BTCUSDT,66224.00,66224.01,66196.0,66196.00,1.95432,129392.697341,420
2,1722383820000,2024-07-30 23:57:00,BTCUSDT,66224.01,66224.01,66224.0,66224.01,2.04784,135616.169898,139
3,1722383760000,2024-07-30 23:56:00,BTCUSDT,66236.01,66240.01,66224.0,66224.01,1.92365,127407.013204,369
4,1722383700000,2024-07-30 23:55:00,BTCUSDT,66243.99,66244.00,66236.0,66236.01,1.76886,117163.812182,165

In [12]:
missing_values_2023 = df_2023.isnull().sum()
missing_values_2024 = df_2024.isnull().sum()

print("Missing values in 2023 dataset:\n", missing_values_2023)
print("\nMissing values in 2024 dataset:\n", missing_values_2024)

numeric_columns_2023 = df_2023.select_dtypes(include=['number']).columns
numeric_columns_2024 = df_2024.select_dtypes(include=['number']).columns

df_2023[numeric_columns_2023] = df_2023[numeric_columns_2023].fillna(df_2023[numeric_columns_2023].median())
df_2024[numeric_columns_2024] = df_2024[numeric_columns_2024].fillna(df_2024[numeric_columns_2024].median())

if 'Date' in df_2023.columns:
    df_2023['Date'] = pd.to_datetime(df_2023['Date'])
else:
    print("The 'Date' column does not exist in the 2023 dataset.")

if 'Date' in df_2024.columns:
    df_2024['Date'] = pd.to_datetime(df_2024['Date'])
else:
    print("The 'Date' column does not exist in the 2024 dataset.")

print("Updated 2023 Dataset Preview:")
print(df_2023.head())

print("\nUpdated 2024 Dataset Preview:")
print(df_2024.head())

Missing values in 2023 dataset:
 unix           0
date           0
symbol         0
open           0
high           0
low            0
close          0
volume         0
volume_from    0
tradecount     0
dtype: int64

Missing values in 2024 dataset:
 Unix           0
Date           0
Symbol         0
Open           0
High           0
Low            0
Close          0
Volume BTC     0
Volume USDT    0
tradecount     0
dtype: int64
The 'Date' column does not exist in the 2023 dataset.
Updated 2023 Dataset Preview:
            unix                 date   symbol      open      high       low  \
0  1704067140000  2023-12-31 23:59:00  BTCUSDT  42281.10  42283.59  42258.94
1  1704067080000  2023-12-31 23:58:00  BTCUSDT  42276.64  42281.10  42276.64
2  1704067020000  2023-12-31 23:57:00  BTCUSDT  42240.92  42276.65  42240.92
3  1704066960000  2023-12-31 23:56:00  BTCUSDT  42230.47  42240.93  42222.10
4  1704066900000  2023-12-31 23:55:00  BTCUSDT  42222.11  42236.23  42222.10

      close    volume   volume_from  tradecount
0  42283.58  38.92904  1.645609e+06         821
1  42281.10   8.38641  3.545770e+05         422
2  42276.65   9.58764  4.051945e+05         604
3  42240.93   8.28076  3.496840e+05         499
4  42230.47  16.21954  6.849333e+05         476

Updated 2024 Dataset Preview:
            Unix                Date   Symbol      Open      High      Low  \
0  1722383940000 2024-07-30 23:59:00  BTCUSDT  66196.00  66196.00  66188.0
1  1722383880000 2024-07-30 23:58:00  BTCUSDT  66224.00  66224.01  66196.0
2  1722383820000 2024-07-30 23:57:00  BTCUSDT  66224.01  66224.01  66224.0
3  1722383760000 2024-07-30 23:56:00  BTCUSDT  66236.01  66240.01  66224.0
4  1722383700000 2024-07-30 23:55:00  BTCUSDT  66243.99  66244.00  66236.0

      Close  Volume BTC    Volume USDT  tradecount
0  66188.00     1.15863   76691.239749         201
1  66196.00     1.95432  129392.697341         420
2  66224.01     2.04784  135616.169898         139
3  66224.01     1.92365  127407.013204         369
4  66236.01     1.76886  117163.812182         165

In [12]:
df_2023.drop(columns=['unix', 'symbol'], inplace=True)
df_2024.drop(columns=['Unix', 'Symbol'], inplace=True)

print("Updated 2023 Dataset Preview:")
print(df_2023.head())

print("\nUpdated 2024 Dataset Preview:")
print(df_2024.head())

Updated 2023 Dataset Preview:
                  date      open      high       low     close    volume  \
0  2023-12-31 23:59:00  42281.10  42283.59  42258.94  42283.58  38.92904
1  2023-12-31 23:58:00  42276.64  42281.10  42276.64  42281.10   8.38641
2  2023-12-31 23:57:00  42240.92  42276.65  42240.92  42276.65   9.58764
3  2023-12-31 23:56:00  42230.47  42240.93  42222.10  42240.93   8.28076
4  2023-12-31 23:55:00  42222.11  42236.23  42222.10  42230.47  16.21954

    volume_from  tradecount
0  1.645609e+06         821
1  3.545770e+05         422
2  4.051945e+05         604
3  3.496840e+05         499
4  6.849333e+05         476

Updated 2024 Dataset Preview:
                  Date      Open      High      Low     Close  Volume BTC  \
0  2024-07-30 23:59:00  66196.00  66196.00  66188.0  66188.00     1.15863
1  2024-07-30 23:58:00  66224.00  66224.01  66196.0  66196.00     1.95432
2  2024-07-30 23:57:00  66224.01  66224.01  66224.0  66224.01     2.04784
3  2024-07-30 23:56:00  66236.01  66240.01  66224.0  66224.01     1.92365
4  2024-07-30 23:55:00  66243.99  66244.00  66236.0  66236.01     1.76886

     Volume USDT  tradecount
0   76691.239749         201
1  129392.697341         420
2  135616.169898         139
3  127407.013204         369
4  117163.812182         165

In [14]:
print("Columns in the 2024 dataset:", df_2024.columns)
print("Columns in the 2023 dataset:", df_2023.columns)

Columns in the 2024 dataset: Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume BTC', 'Volume USDT',
       'tradecount'],
      dtype='object')
Columns in the 2023 dataset: Index(['date', 'open', 'high', 'low', 'close', 'volume', 'volume_from',
       'tradecount'],
      dtype='object')

In [16]:
df_2023.columns = df_2023.columns.str.strip().str.lower()

print("Cleaned Columns in df_2023:", df_2023.columns.tolist())

df_2023['date'] = pd.to_datetime(df_2023['date'])

df_2024.columns = df_2024.columns.str.strip().str.lower()
df_2024['date'] = pd.to_datetime(df_2024['date'])

df_2023['year'] = df_2023['date'].dt.year
df_2023['month'] = df_2023['date'].dt.month
df_2023['day'] = df_2023['date'].dt.day
df_2023['hour'] = df_2023['date'].dt.hour
df_2023['minute'] = df_2023['date'].dt.minute
df_2023['second'] = df_2023['date'].dt.second

df_2024['year'] = df_2024['date'].dt.year
df_2024['month'] = df_2024['date'].dt.month
df_2024['day'] = df_2024['date'].dt.day
df_2024['hour'] = df_2024['date'].dt.hour
df_2024['minute'] = df_2024['date'].dt.minute
df_2024['second'] = df_2024['date'].dt.second

print("Updated df_2023:")
print(df_2023.head())

print("\nUpdated df_2024:")
print(df_2024.head())

Cleaned Columns in df_2023: ['date', 'open', 'high', 'low', 'close', 'volume', 'volume_from', 'tradecount']
Updated df_2023:
                 date      open      high       low     close    volume  \
0 2023-12-31 23:59:00  42281.10  42283.59  42258.94  42283.58  38.92904
1 2023-12-31 23:58:00  42276.64  42281.10  42276.64  42281.10   8.38641
2 2023-12-31 23:57:00  42240.92  42276.65  42240.92  42276.65   9.58764
3 2023-12-31 23:56:00  42230.47  42240.93  42222.10  42240.93   8.28076
4 2023-12-31 23:55:00  42222.11  42236.23  42222.10  42230.47  16.21954

    volume_from  tradecount  year  month  day  hour  minute  second
0  1.645609e+06         821  2023     12   31    23      59       0
1  3.545770e+05         422  2023     12   31    23      58       0
2  4.051945e+05         604  2023     12   31    23      57       0
3  3.496840e+05         499  2023     12   31    23      56       0
4  6.849333e+05         476  2023     12   31    23      55       0

Updated df_2024:
                 date      open      high      low     close  volume btc  \
0 2024-07-30 23:59:00  66196.00  66196.00  66188.0  66188.00     1.15863
1 2024-07-30 23:58:00  66224.00  66224.01  66196.0  66196.00     1.95432
2 2024-07-30 23:57:00  66224.01  66224.01  66224.0  66224.01     2.04784
3 2024-07-30 23:56:00  66236.01  66240.01  66224.0  66224.01     1.92365
4 2024-07-30 23:55:00  66243.99  66244.00  66236.0  66236.01     1.76886

     volume usdt  tradecount  year  month  day  hour  minute  second
0   76691.239749         201  2024      7   30    23      59       0
1  129392.697341         420  2024      7   30    23      58       0
2  135616.169898         139  2024      7   30    23      57       0
3  127407.013204         369  2024      7   30    23      56       0
4  117163.812182         165  2024      7   30    23      55       0

In [18]:
df_combined = pd.merge(df_2023, df_2024, on=['day', 'month', 'hour', 'minute'], how='inner', suffixes=('_2023', '_2024'))

print("Combined DataFrame:")
print(df_combined.head())

Combined DataFrame:
            date_2023  open_2023  high_2023  low_2023  close_2023   volume  \
0 2023-07-30 23:59:00   29279.99   29281.09  29279.99    29281.09  9.53760
1 2023-07-30 23:58:00   29278.31   29280.00  29278.31    29279.99  5.88558
2 2023-07-30 23:57:00   29279.46   29279.47  29278.31    29278.31  7.01474
3 2023-07-30 23:56:00   29279.47   29279.47  29279.46    29279.46  1.24658
4 2023-07-30 23:55:00   29273.91   29279.47  29273.91    29279.47  7.28003

     volume_from  tradecount_2023  year_2023  month  ...           date_2024  \
0  279269.776741              195       2023      7  ... 2024-07-30 23:59:00
1  172324.476980              229       2023      7  ... 2024-07-30 23:58:00
2  205385.295914              236       2023      7  ... 2024-07-30 23:57:00
3   36499.194349               99       2023      7  ... 2024-07-30 23:56:00
4  213122.225693              345       2023      7  ... 2024-07-30 23:55:00

   open_2024  high_2024  low_2024 close_2024  volume btc    volume usdt  \
0   66196.00   66196.00   66188.0   66188.00     1.15863   76691.239749
1   66224.00   66224.01   66196.0   66196.00     1.95432  129392.697341
2   66224.01   66224.01   66224.0   66224.01     2.04784  135616.169898
3   66236.01   66240.01   66224.0   66224.01     1.92365  127407.013204
4   66243.99   66244.00   66236.0   66236.01     1.76886  117163.812182

   tradecount_2024  year_2024  second_2024
0              201       2024            0
1              420       2024            0
2              139       2024            0
3              369       2024            0
4              165       2024            0

[5 rows x 24 columns]

In [22]:
import pyarrow as pa
import pyarrow.parquet as pq

In [24]:
combined_parquet_file = 'combined_data.parquet'
table = pa.Table.from_pandas(df_combined)
pq.write_table(table, combined_parquet_file)
print(f"Combined data saved to {combined_parquet_file}")

Combined data saved to combined_data.parquet

In [26]:
df_combined = pq.read_table('combined_data.parquet').to_pandas()

In [57]:
import pandas as pd

file_path = 'C:/Users/aseks/Downloads/combined_data.csv'
df = pd.read_csv(file_path)

df.head()

,date_2023,open_2023,high_2023,low_2023,close_2023,tradecount_2023,year_2023,date_2024,open_2024,high_2024,low_2024,close_2024,tradecount_2024
0,2023-07-30 23:59:00,29279.99,29281.09,29279.99,29281.09,195,2023,2024-07-30 23:59:00,66196.00,66196.00,66188.0,66188.00,201
1,2023-07-30 23:58:00,29278.31,29280.00,29278.31,29279.99,229,2023,2024-07-30 23:58:00,66224.00,66224.01,66196.0,66196.00,420
2,2023-07-30 23:57:00,29279.46,29279.47,29278.31,29278.31,236,2023,2024-07-30 23:57:00,66224.01,66224.01,66224.0,66224.01,139
3,2023-07-30 23:56:00,29279.47,29279.47,29279.46,29279.46,99,2023,2024-07-30 23:56:00,66236.01,66240.01,66224.0,66224.01,369
4,2023-07-30 23:55:00,29273.91,29279.47,29273.91,29279.47,345,2023,2024-07-30 23:55:00,66243.99,66244.00,66236.0,66236.01,165

In [59]:
new_file_path = 'C:/Users/aseks/Downloads/modified_combined_data.csv'
df.to_csv(new_file_path, index=False)

print(f"Modified CSV file saved to {new_file_path}")

Modified CSV file saved to C:/Users/aseks/Downloads/modified_combined_data.csv

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\aseks\anaconda3\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\aseks\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)